body {
    background: linear-gradient(to right, #006d50, #009e5d); /* Modify this line */
    width: 100%;
    height: 100%; 
}

input {
    color: white;
}

.search-bar {
    position: relative;
    display: inline-block;
}

.search-input {
    padding: 10px 20px 10px 40px;
    width: 300px;
    height: 40px;
    border: 0.2vw solid #fff;
    border-radius: 20px;
    font-size: 16px;
}

.feather-search {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    fill: none;
    stroke: transparent;
    stroke-width: 2px;
}