body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to -145deg, #006d50, #009e5d); /* Modify this line */
    height: 100%;
   }
   
   .search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
   }
   
   .search-bar input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
   }
   
   .search-bar button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
   }
   
   .search-bar button:hover {
    background-color: #0056b3;
   }